div, 
p, 
img,
ol, 
ul, 
li,
dl,
dt,
dd, 
span,
h1,
h2,
h3, 
h4, 
h5, 
h6,
form,
input,
textarea,
button,
select,
label,
canvas,
svg,
nav,
table,
th,
tr, 
td, 
thead, 
tbody, 
tfoot, 
footer {
    border: 1px solid #faed27 !important;
}

div:hover, 
p:hover, 
img:hover,
ol:hover, 
ul:hover, 
li:hover,
dl:hover,
dt:hover,
dd:hover, 
span:hover,
h1:hover,
h2:hover,
h3:hover, 
h4:hover, 
h5:hover, 
h6:hover,
form:hover,
input:hover,
textarea:hover,
button:hover,
select:hover,
label:hover,
canvas:hover,
svg:hover,
nav:hover,
table:hover,
th:hover,
tr:hover, 
td:hover, 
thead:hover, 
tbody:hover, 
tfoot:hover, 
footer:hover {
    border: 1px solid red !important;
}